* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; }
  .navbar .menu-btn {
    display: none; }
    .navbar .menu-btn:checked ~ .menu {
      max-height: 240px; }
    .navbar .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent; }
      .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg); }
      .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg); }
    .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
      top: 0; }
    .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0; }
  .navbar .menu-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 28px 20px;
    user-select: none; }
    @media screen and (min-width: 768px) {
      .navbar .menu-icon {
        display: none; } }
    .navbar .menu-icon .navicon {
      background: white;
      border-radius: 3px;
      height: 4px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 25px; }
      .navbar .menu-icon .navicon:before {
        background: white;
        border-radius: 3px;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
        top: 10px; }
      .navbar .menu-icon .navicon:after {
        background: white;
        border-radius: 3px;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        -webkit-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        width: 100%;
        top: -10px; }
  .navbar .menu {
    max-height: 0; }
    @media screen and (min-width: 768px) {
      .navbar .menu {
        flex-direction: row;
        justify-content: flex-end;
        max-height: none;
        padding: 20px; } }
  .navbar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    overflow: hidden; }
  .navbar li a {
    text-decoration: none;
    color: white;
    font-size: 18px; }
    @media screen and (min-width: 768px) {
      .navbar li a {
        padding: 20px 30px; } }
    .navbar li a:hover {
      text-decoration: underline; }

html {
  scroll-behavior: smooth; }

.welcome-section {
  background-image: url("../images/negative-space-black-forest-dawn.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 40px; }
  .welcome-section .welcome-text {
    width: 70%; }
  .welcome-section h1,
  .welcome-section p {
    margin-bottom: 60px; }
    .welcome-section h1:last-child,
    .welcome-section p:last-child {
      margin-bottom: 0; }
  .welcome-section p {
    font-size: 20px; }
  .welcome-section .arrow-down {
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px; }

.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .team-section h1 {
    padding: 25px; }
  .team-section .person-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px; }
    @media screen and (min-width: 1024px) {
      .team-section .person-section {
        margin: 0 60px; } }
    .team-section .person-section .person-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px; }
      @media screen and (min-width: 768px) {
        .team-section .person-section .person-info {
          width: 50%; } }
      @media screen and (min-width: 1024px) {
        .team-section .person-section .person-info:first-child .person-description, .team-section .person-section .person-info:nth-child(2) .person-description, .team-section .person-section .person-info:last-child .person-description {
          width: 400px; } }
      .team-section .person-section .person-info .firstname {
        font-weight: bold; }
      .team-section .person-section .person-info img {
        border-radius: 9999px;
        box-shadow: 0 0 15px 7px #c0bcbc;
        width: 250px;
        height: 250px;
        margin: 20px 0; }
      .team-section .person-section .person-info .person-description {
        background: #d4d2d2;
        border-radius: 4px;
        padding: 25px;
        width: 300px; }
        @media screen and (min-width: 768px) {
          .team-section .person-section .person-info .person-description {
            width: auto;
            padding: 20px;
            width: 90%; } }
        @media screen and (min-width: 1024px) {
          .team-section .person-section .person-info .person-description {
            width: auto; } }
        .team-section .person-section .person-info .person-description p {
          font-size: 16px;
          padding: 10px; }
          @media screen and (min-width: 768px) {
            .team-section .person-section .person-info .person-description p {
              font-size: smaller; } }
  .team-section .arrow-down {
    color: black;
    position: absolute;
    right: 50%;
    bottom: 0;
    margin-bottom: 55px; }

.footer-container {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  font-size: 18px;
  line-height: 1.8;
  padding: 10%; }
  @media screen and (min-width: 768px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      padding: 30px 40px; } }
  .footer-container div {
    margin: 20px 40px; }
    @media screen and (min-width: 1024px) {
      .footer-container div {
        padding: 0 40px; } }
  .footer-container .footer-social .fa-ul {
    margin-left: 1.5em; }
    .footer-container .footer-social .fa-ul li {
      line-height: 2; }
