@import "./variables/variables";
@import "./resets";
@import "./menu.scss";

.welcome-section {
  background-image: url("../images/negative-space-black-forest-dawn.jpg");
  background-size: cover;
  background-position: center center;
  color: $primary-color;
  @include flexCol;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 40px;

  .welcome-text {
    width: 70%;
  }

  h1,
  p {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 20px;
  }

  .arrow-down {
    color: $primary-color;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
  }
}

.team-section {
  @include flexCol;
  align-items: center;
  position: relative;
  padding: 40px;

  h1 {
    padding: 40px;
  }

  .person-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px;

    .person-info {
      @include flexCol;
      align-items: center;
      margin-bottom: 60px;

      @include tablet {
        width: 50%;
      }
      @include desktop {
        &:first-child,
        &:nth-child(2),
        &:last-child {
          .person-description {
            width: 400px;
          }
        }
      }

      .firstname {
        font-weight: bold;
      }
      img {
        border-radius: 9999px;
        box-shadow: 0 0 15px 7px rgb(192, 188, 188);
        width: $img-size;
        height: $img-size;
        margin: 20px 0;
      }
      .person-description {
        background: rgb(212, 210, 210);
        border-radius: 4px;
        padding: 25px;
        width: 300px;
        @include tablet {
          width: auto;
          margin: 20px;
          padding: 20px;
          width: auto;
        }
        p {
          font-size: 16px;
          padding: $size1;
          @include tablet {
            font-size: smaller;
          }
        }
      }
    }
  }
  .arrow-down {
    color: $bg-color;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
  }
}

.footer-container {
  @include flexCol;
  background: $bg-color;
  color: $primary-color;
  font-size: 20px;
  line-height: 1.8;
  padding: 50px;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
  }

  div {
    margin: 20px 40px;
    @include desktop {
      padding: 0 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer-social {
    .fa-ul {
      margin-left: 1.5em;
      li {
        line-height: 2;
      }
    }
  }
}
