@import "./variables/variables";
@import "./resets";
@import "./menu.scss";

.welcome-text {
  background-image: url("../images/negative-space-black-forest-dawn.jpg");
  background-size: cover;
  background-position: center center;
  color: $primary-color;
  @include flexCol;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 40px;

  h1,
  p {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 20px;
  }

  .arrow-down {
    color: $primary-color;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
  }
}

.team-section {
  @include flexCol;
  align-items: center;
  position: relative;
  padding: 40px;

  h1 {
    padding: 40px;
  }

  .person-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .person-info {
      @include flexCol;
      align-items: center;
      margin-bottom: 60px;

      .firstname {
        font-weight: bold;
      }
      img {
        border-radius: 9999px;
        box-shadow: 0 0 15px 7px rgb(192, 188, 188);
        width: $img-size;
        height: $img-size;
        margin: 20px 0;
      }
      .person-description {
        background: rgb(212, 210, 210);
        border-radius: 4px;
        padding: 20px;
        width: 80%;
        p {
          font-size: smaller;
          padding: $size1;
        }
      }
    }
  }
  .arrow-down {
    color: $bg-color;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
  }
}

.footer-container {
  @include flexCol;
  background: $bg-color;
  color: $primary-color;
  line-height: 1.8;
  padding: 50px;

  div {
    margin: 20px 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer-social {
    i {
      margin-right: 10px;
    }
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  .navbar {
    .menu-icon {
      display: none;
    }
    .menu {
      flex-direction: row;
      justify-content: flex-end;
      max-height: none;
      padding: 20px;
    }
    li {
      a {
        padding: 20px 30px;
      }
    }
  }
  .team-section {
    .person-section {
      .person-info {
        width: 50%;

        .person-description {
          width: auto;
          margin: 20px;
        }
      }
    }
  }
  .footer-container {
    flex-direction: row;
    justify-content: space-between;

    .footer-social {
      i {
        padding: $size1;
      }
    }
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  .footer-container {
    div {
      padding: 0 40px;
    }
  }
}
